.container{
  background-color: #10486934;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
 border: #4a2d07 solid 1px;
}

.navbar-nav{
    margin:0 auto;
    gap:20px;
}
.navbar{
  background-color: #082536b4;
}
.nav-link{
    color:white !important;
   background: linear-gradient(135deg, #F4C430, #104869b5);
    padding:10px 20px !important;
    border-radius:5px;
    font-weight:600;
    transition:0.3s;
}
.btn-dark{
    width: 100%;
    height: 55px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(41, 41, 41);
    border: none;
    transition: 0.3s;
}
